<h1>Editing provider</h1>

<%= render 'form' %>
<div class="button-group">
	<%= link_to 'Show', @provider, :class => "button"%>
	<%= link_to 'Back', providers_path, :class => "button danger"%>
</div>
</div>