<h1>Editing office</h1>

<%= render 'form' %>

<div class="button-group">
<%= link_to 'Show', building_office_path(@office.building,@office), :class => "button primary" %>
<%= link_to 'Back', @office.building, :class => "button danger" %>
</div>
</div>