
  <div class="topbar-wrapper" style="z-index: 5;">
    <div class="topbar">
      <div class="fill">
        <div class="container">


          <ul>
			<li></li>
		  </ul>
		
          <ul class="nav secondary-nav">
            <li class="menu">
              <a href="#" class="menu">Dropdown</a>
              <ul class="menu-dropdown">

             
                <li class="divider"></li>
				<li><%= link_to "Logout", logout_path %></li>
              </ul>
            </li>
          </ul>

        </div>
      </div><!-- /fill -->
    </div><!-- /topbar -->
  </div><!-- /topbar-wrapper -->
