<h1>Editing building</h1>

<%= render 'form' %>

<div class="button-group">
	<%= link_to 'Show', @building, :class => "button"  %>
	<%= link_to 'Back', buildings_path, :class => "button danger"  %>
</div>
</div>
