<h1>Editing account</h1>

<%= render 'form' %>
<div class="button-group">
<%= link_to 'Show', @account, :class => "button" %>
<%= link_to 'Back', dashboard_path, :class => "button danger" %>
</div>
</div>